.search-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: left;
    outline: 1px solid #000;
    padding: 0.5em;
}

#search-bar {
    width: 100%;
    position: absolute;
    background: transparent;
    z-index: 2;
    outline: none;
    border: none;
    font-size: inherit;
}

*:focus {
    outline: none;
}

.ghost-text {
    position: absolute;
    margin: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em 0;
}

.left-buttons {
    display: flex;
    gap: 10px;
}

.right-buttons {
    display: flex;
    gap: 10px;
}
